* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color          : #000;
}

i {
    font-style: normal;
}

input {
    outline: none;
}

strong {
    font-style: normal;
}

img {
    border   : 0;
    max-width: 100%;
    vertical-align: middle;
}
input{ border: 0; background: none;}
a{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    text-decoration: none;
}
@act_color:#2892fe;
@color:#6e6e6e;
@bgColor:#f4f8ff;
@borderColor:#c1c1c1;
@allHei:100vh;
.fullHei{
    height: @allHei;
}
.secreenHei{
    height: calc(100vh - 70px - 95px)
}
.center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// 轮播图小圆点激活状态
.mint-swipe-indicator.is-active { width: 25px; background-color: #2791ff; opacity: 1; border-radius: 5px;}
.mint-checklist-label{
  padding: 0 20px;
}
.mint-checkbox-core{
width: 30px; height: 30px;
}
.mint-checkbox-core::after{
width: 11px; height: 20px; top: 6px; left: 14px;
}
.mint-checkbox-label{
  margin-left: 12px; font-size: 24px;
}
.mint-cell:last-child{
  background: none;
}
//提示层文字
.mint-toast-text{ font-size: 24px;}

.proInfoBox{
    font-size: 22px; color: #313131; display: flex; flex-direction: column; height: 132px; flex: 1;
    dt{
      flex: 1;
      p{
        color: #929292; font-size: 18px; padding-top: 5px;
      }
    }
    dd{
      display: flex; justify-content: space-between; align-items: center;
      >span{
        color: #d81e06; font-size: 24px; font-weight: bold;
      }
      >div{
        border: 1px solid #c1c1c1; display: flex; justify-content: center; align-items: center; height: 44px;
        span{
          display: flex; justify-content: center; align-items: center; width: 44px; height: 44px; position: relative;
        }
        input{
          width: 59px; border-left:1px solid #c1c1c1; border-right: 1px solid #c1c1c1; height: 44px; text-align: center; font-size: 26px; 
        }
        .reduce::after{
          content: ''; width: 50%; height: 2px; background-color: #c1c1c1;
        }
        .add::after,.add::before{
          content: ''; width: 50%; height: 2px; background-color: #2892fe;
        }
        .add::before{
          position: absolute; left: 50%; margin-left: -25%; transform: rotate(90deg);
        }
      }
    }
  }
  .isChecked{
    position: relative; display: flex; justify-content: flex-start; align-items: center; font-size: 24px; color: #6e6e6e; width: 148px;
   span{
     width: 32px; height: 32px; border-radius: 50%; border: 1px solid #ccc; overflow: hidden; display: block; margin-right: 20px;
   }
   img{
     display: none;
   }
 }
 input[type="checkbox"], input[type="radio"]{
     border: 0; background: none; opacity: 0; position: absolute; left: 0; top: 0;
 }
.isChecked.show img{
   display: block;
 }
.payMode{
  label{
      margin-top: 20px;
  }
}
.submitBox{
  padding: 15px 65px; 
  button{
      display: flex; justify-content: center; align-items: center; font-size: 24px; color: #fff; border-radius: 10px; background-color: #2892fe; height: 80px; width: 100%; outline: none; border: 0;
  }
}
.btnsOrder{
   height: 110px;
  p{
      display: flex; justify-content: flex-end; align-items: center; position: fixed; width: 640px; height: 80px; left: 0px; bottom: 95px; background-color: #fff; border-top: 1px solid #6e6e6e;
      button{
          width: 50%; height: 80px; color: #fff; background-color: #929292; font-size: 24px; display: flex; justify-content: center;  align-items: center; border: 0; outline: none;
      }
      button:last-child{
          background-color: #2892fe;
      }
  }
}
.total{
  background-color: #fff; border-top: 1px solid #c1c1c1; height: 85px; display: flex; justify-content: space-between; align-items: center; padding-left: 20px; z-index: 100; position: relative;
  button{
    width: 195px; height: 86px; background-color: #2892fe; color: #fff; font-size: 24px; text-align: center; line-height: 86px; border: 0;
  }
}
.notData{
  font-size: 30px; color: #6e6e6e; text-align: center;
  div{
    span{
      width: 216px; height: 216px; border-radius: 50%; display: flex; justify-content: center; align-items: center; background-color: #f4f8ff; margin: 180px auto 35px;
      img{
        width: 134px;
      }
    }
  }
  a{
    color: #2892fe; font-size: 24px; text-decoration: underline; margin-top: 25px; display: inline-block;
  }
}
.totalBox{
font-size: 18px; color: #6e6e6e; margin: 0 20px; flex: 1;
span{
  color: #d81e06; font-size: 24px; font-weight: bold;
}
span:before{
  content: "￥"
}
}
.mint-msgbox{
  font-size: 20px;
  .mint-msgbox-title{
    font-size: 24px;
  }
  .mint-msgbox-btns{
    height: 60px; line-height: 60px;
    button{
      font-size: 24px;
    }
  }
}
